# Node modules (optional, if you're using npm or yarn in the root)
node_modules/

# Environment variables
.env
*.env

# Python virtual environment
/socialmedia-dashboard/
venv/
*.pyc
__pycache__/

# Django specific
*.sqlite3            # SQLite databases
*.log                # Log files
*.pot                # Translation template files
*.pyc                # Compiled Python files
*.pyo                # Optimized Python files
*.db                 # Database files
/media/              # Media files directory
/static/             # Static files directory

# Coverage reports
.coverage
htmlcov/
.coverage.*
nosetests.xml
*.cover

# Pytest
.pytest_cache/
pytestdebug.log

# MyPy
.mypy_cache/

# Docker
*.dockerfile
docker-compose.override.yml

# PyCharm
.idea/

# VS Code
.vscode/

# Backup files
*~
*.bak
*.swp

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
